.container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.content-area {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.main-area {
    width:  66%;
    float: left;
    border: 1px solid blue;
    box-sizing: border-box;
}

.sidebar {
    width: 34%;
    float: left;
    border: 1px solid dodgerblue;
    box-sizing: border-box;
}

.group {
    clear: both;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}